<div id="contact" class="anchor"></div>
<section class="contact-section">
    <div class="left">
        <div class="titles">
            <h2 class="section__subheadline">{{ 'contact.subheadline' | translate }}</h2>
            <h1 class="section__main-title">{{ 'contact.title' | translate }}</h1>
        </div>
        <article class="contact-content">
            <h3 class="article__headline">{{ 'contact.article.headline' | translate }}</h3>
            <p>{{ 'contact.article.p.1' | translate }}</p>
            <p>{{ 'contact.article.p.2' | translate }}&nbsp;<span>{{ 'contact.article.talk' | translate }}</span></p>
        </article>
    </div>
    @if (!sendComplete) {
    <form class="right" (ngSubmit)="onSubmit(contactForm);" #contactForm="ngForm">
        <div class="formular__body">
            <div class="formular__body__name">
                <label for="formular-name" class="formular__headline">{{ 'contact.form.headline.name' | translate }}</label>
                <input autocomplete="name" (blur)="checkError('name', contactForm)" [(ngModel)]="contactData.name" name="name" maxlength="25" type="name" id="formular-name" placeholder="{{ 'contact.form.placeholder.regular.name' | translate}}" required>
                <span class="error-field" [ngClass]="{'error-field--active': placeholderState('name') === 'error'}">{{ 'contact.form.placeholder.error.name' | translate}}</span>
            </div>
            <div class="formular__body__email">
                <label for="formular-email" class="formular__headline">{{ 'contact.form.headline.email' | translate }}</label>
                <input (input)="removeMailError(contactForm)" autocomplete="email" (blur)="checkError('email', contactForm)" [(ngModel)]="contactData.email" name="email" type="email" id="formular-email" placeholder="{{ 'contact.form.placeholder.regular.email' | translate}}" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
                <span class="error-field" [ngClass]="{'error-field--active': placeholderState('email') === 'error'}">{{ 'contact.form.placeholder.error.email-pattern' | translate }}</span>
            </div>
            <div class="formular__body__message">
                <label for="formular-msg" class="formular__headline">{{ 'contact.form.headline.msg' | translate }}</label>
                <textarea [(ngModel)]="contactData.msg" (blur)="checkError('msg', contactForm)" id="formular-msg" name="msg" placeholder="{{ 'contact.form.placeholder.regular.msg' | translate}}" (input)="resizeTextarea($event)" required></textarea>
                <span class="error-field" [ngClass]="{'error-field--active': placeholderState('msg') === 'error'}">{{ 'contact.form.placeholder.error.msg' | translate}}</span>
            </div>
        </div>
        <div class="formular__footer">
            <div class="privacy-checkbox">
                <input [(ngModel)]="contactData.privacy" type="checkbox" id="checkbox-privacy-policy" class="checkbox" unchecked name="privacy" required>
                <label for="checkbox-privacy-policy">
                    <div>{{ 'contact.form.checkbox-label.read' | translate }}
                        <a href="privacy-policy" target="_blank" rel="noopener noreferrer">{{ 'contact.form.checkbox-label.privacy-policy' | translate }}</a>
                        {{ 'contact.form.checkbox-label.confirm' | translate }}
                    </div>
                </label>
                <span class="error-field" [ngClass]="placeholderState('privacy')">{{ translatePlaceholderState('privacy') | translate}}</span>
            </div>
            <app-buttons text="{{ 'contact.form.submit' | translate }}" type="static" [disabled]="buttonDisabled(contactForm)" #submitBtn></app-buttons>
        </div>
    </form>
    } @else {
    <div class="success-msg right">
        <span>{{'contact.success.base' | translate}}</span>
        <app-buttons type="regular" text="{{'contact.success.button' | translate}}" (click)="sendComplete=false"></app-buttons>
    </div>
    }
</section>