@use "./../../shared/scss/abstracts/" as *;

.contact-section {
    @include widthLimiter();
    @include applyLimitMargin();
    @include dflex(center, flex-start, row, 64px);

    @media (max-width: $mobileResolution) or (orientation: portrait) {
        @include dflex(flex-start, center, column, 64px);
    }
}

.error {
    display: unset !important;
    color: #ec7b7bcc;
    &::placeholder {
        color: #ec7b7bcc;
        white-space-collapse: break-spaces;
        font-size: 15px;
    }
}

.checkbox {
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
}

.checkbox + label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 2px 8px;
}

.checkbox + label::before {
    content: "";
    min-width: 24px;
    height: 24px;
    background-image: url("./../../../assets/icons/checkbox_default.webp");
    background-position: center;
}

.checkbox + label:hover::before {
    background-image: url("./../../../assets/icons/checkbox_default_hovered.webp");
}

.checkbox:checked + label::before {
    background-image: url("./../../../assets/icons/checkbox_checked.webp");
    background-position: center;
}

.checkbox:checked + label:hover::before {
    background-image: url("./../../../assets/icons/checkbox_checked_hovered.webp");
}

.titles {
    @include dflex(center, flex-start, column, 16px);
    @media (orientation: landscape) {
        @include dflex(center, flex-start, column, 20px);
    }
    .section__main-title {
        white-space: unset;
    }
}

.contact-content {
    @include dflex(center, flex-start, column, 16px);
    .article__headline {
        color: $signatureColor;
        font-family: "Fira Code", Arial, Helvetica, sans-serif;
        font-size: clamp(1rem, 4vw, 1.5rem);
    }
    > p {
        > span {
            color: $signatureColor;
        }
    }
}

.left {
    @media (orientation: landscape) and (min-width: $desktopResolution) {
        max-width: 50%;
    }
}

a {
    &:hover {
        filter: brightness(1.5);
    }
}
