@use './../../shared/scss/abstracts/' as *;

.right {
    @include dflex(center, flex-start, column, 40px);
    width: 100%;
    @media (orientation: landscape) and (min-width: $desktopResolution) {
        width: 50%;
    }

    .formular__body {
        width: 100%;

        [class^="formular__body__"] {
            @include dflex(center, flex-start, column, 10px);
            padding: 32px;
            @media (max-width: calc($mobileResolution/2)) {
                padding: 32px 0;
            }
            border-top: 1px solid $signatureColor;
            > label {
                font-family: "Fira Code", Arial, Helvetica, sans-serif;
                font-weight: 500;
                font-size: clamp(1rem, 4dvw, 1.5rem);
                color: $signatureColor;
            }
            > input,
            textarea {
                @include karla(400, 1rem, rgba($color: #ffffff, $alpha: 0.8));
                background-color: transparent;
                border: none;
                width: 100%;

                &:active {
                    outline: none;
                }

                &:focus-visible {
                    outline: none;
                }
                &:-internal-autofill-selected {
                    background-color: transparent !important;
                }
            }

            textarea {
                resize: none;
            }
        }

        .formular__body__message {
            border-bottom: 1px solid $signatureColor;
        }
    }

    .formular__footer {
        @include dflex(center, flex-start, column, 16px);
        * {
            font-size: 15px;
            font-family: "Karla", Arial, Helvetica, sans-serif;
        }

        > app-buttons {
            align-self: center;
        }

        a {
            color: $signatureColor;
        }
    }

    .email-pattern {
        display: none;
        color: #ec7b7bcc;
        white-space-collapse: break-spaces;
        font-family: 'Karla', Arial, Helvetica, sans-serif;
        font-size: 15px;
        &.error.mail-pattern-fixed{
            display: none !important;
        }
    }
}