@use "./../../scss/abstracts/" as *;

@mixin headerBasics($width, $value: 0) {
    @include widthLimiter();
    @media ($width: $value) {
        @include dflex(space-between, center);
    }
    display: none;
    position: fixed;
    top: 48px;
    padding: 0 clamp(12px, 5dvw, 96px);
    background-color: unset;
    height: $headerHeight;
    box-sizing: border-box;
}

.header--large {
    @include headerBasics(min-width, $desktopResolution);
    > nav {
        @include dflex($gap: 24px);
    }
}

.header--small {
    @include headerBasics(max-width, ($desktopResolution - 1px));

    & .burger-menu--toggle {
        transition: all 200ms ease-out;
        &:active {
            filter: invert(65%) sepia(34%) saturate(778%) hue-rotate(120deg) brightness(105%) contrast(81%);
        }
    }

    & .burger-menu-wrapper {
         & .dimmer {
            position: fixed;
            background-color: $backgroundDark;
            opacity: 0.2;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}
