@use './../../scss/abstracts/' as *;

header {
    @include dflex(space-between, center);
    position: fixed;
    top: 48px;
    padding: 0 96px;
    @include widthLimiter();
    background-color: $signatureColor;
    height: $headerHeight;
    box-sizing: border-box;
}