@use "./../../scss/abstracts/" as *;

@mixin logoBasics() {
    position: absolute;
    @media (min-width: 900px) {
        transform: translate(-100%, -50%);
    }
    transform: translateY(-50%);
    transition: all 100ms ease-in;
}

@mixin headerBasics($width, $value: 0) {
    @include widthLimiter();
    @media ($width: $value) {
        @include dflex(space-between, center);
    }
    display: none;
    position: fixed;
    top: 48px;
    padding: 0 clamp(12px, 5dvw, 96px);
    background-color: unset;
    height: $headerHeight;
    box-sizing: border-box;
}

.header--large {
    @include headerBasics(min-width, 900px);
    > nav {
        @include dflex($gap: 24px);
        > a {
            position: relative;
            font-size: 20px;
            font-weight: 400;
            line-height: 26.24px;
            letter-spacing: -0.03em;
            text-decoration: none;
            transition: all 100ms ease-in;
            &::after {
                position: absolute;
                left: 50%;
                top: 100%;
                content: "";
                display: inline-block;
                background-image: url("./../../../../assets/icons/dot.svg");
                height: 8px;
                width: 8px;
                transform: translateX(-50%);
                opacity: 0;
                transition: all 100ms ease-in;
            }

            @media (pointer: fine) {
                &:hover {
                    color: $signatureColor;
                    &::after {
                        opacity: 1;
                    }
                }
            }

            &:active {
                color: $dimmedSignatureColor;
                &::after {
                    opacity: 1;
                    filter: invert(65%) sepia(34%) saturate(778%) hue-rotate(120deg) brightness(105%) contrast(81%)
                        opacity(0.5);
                }
            }
        }
    }
}

.header--small {
    @include headerBasics(max-width, 899px);

    & .burger-menu {
        transition: all 200ms ease-out;
        &:active {
            filter: invert(65%) sepia(34%) saturate(778%) hue-rotate(120deg) brightness(105%) contrast(81%);
        }
    }
}

.toggle {
    @include dflex(center, center);
    border: 1px solid $signatureColor;
    border-radius: 100px;
    height: 28px;
    transition: all 300ms ease-out;
    cursor: pointer;
    > span {
        @include dflex();
        height: 100%;
        padding: 0 12px;
        + .toggle-state--en {
            padding: 0 12px;
        }
        + .toggle-state--de {
            padding-left: 8px;
        }
        font-family: "Fira Code";
        background-color: unset;
        &.active {
            color: white;
            font-weight: 700;
            border-radius: 100px;
            outline: 1px solid $signatureColor;
            background-color: $signatureColor;
            transition: all 100ms ease-out;
        }
        &.inactive {
            color: $dimmedSignatureColor;
            font-weight: 400;
            transition: all 100ms ease-out;
        }
    }
    @media (pointer: fine) {
        &:hover {
            border-color: white;
            > span {
                &.inactive {
                    color: $signatureColor;
                }
            }
        }
    }
}

.logo-wrapper {
    position: relative;
    > .logo {
        @include logoBasics();
    }

    > .hovered-logo {
        @include logoBasics();
    }

    @media (pointer: fine) {
        &:hover {
            > .logo {
                opacity: 0;
            }
        }
    }

    &:active {
        > .logo {
            opacity: 0;
        }
    }
}
