<header>
    <nav>
        <div class="toggle">
            <span [ngClass]="(language == 'EN') ? 'active' : 'inactive'" class="toggle-state--en">EN</span>
            <span [ngClass]="(language == 'DE') ? 'active' : 'inactive'" class="toggle-state--de">DE</span>
        </div>
        <a href="#about-me">About me</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
    </nav>
    <div class="logo-wrapper">
        <img draggable="false" src="./assets/icons/logo_regular.png" alt="logo" class="logo">
        <img draggable="false" src="./assets/icons/logo_hovered.png" alt="hovered-logo" class="hovered-logo">
    </div>
</header>