@use './../../scss/abstracts/' as *;

@mixin logoBasics() {
    position: absolute;
    cursor: pointer;
    @media (min-width: $desktopResolution) {
        transform: translate(-100%, -50%);
    }
    transform: translateY(-50%);
    transition: all 100ms ease-in;
}

.logo-wrapper {
    position: relative;
    > .logo {
        @include logoBasics();
    }

    > .hovered-logo {
        @include logoBasics();
        opacity: 0;
    }

    @media (pointer: fine) {
        &:hover {
            > .hovered-logo {
                opacity: 1;
            }
        }
    }

    &:active {
        > .hovered-logo {
            opacity: 1;
        }
    }
}

.footer-location {
    transform: translate(-50%, -100%) !important;
}