<section class="project-detail-screen" (click)="projects.closeProjectDetails()">
    <div class="project-details-box" (click)="$event.stopPropagation()">
        <div class="close-btn" (click)="projects.closeProjectDetails()"></div>
        <div class="project-details">
            <span>
                @if(projects.projectDetails.projectIndex < 10) { 0{{projects.projectDetails.projectIndex+1}} } @else { {{projects.projectDetails.projectIndex+1}} }</span>
                    {{project.name }}
        </div>
    </div>
</section>