@use "./../../../../shared/scss/abstracts/" as *;

.project-detail-screen {
    position: relative;
    width: 100%;
    height: 100%;
}

.project-details-box {
    position: relative;
    overflow: auto;
    top: 50%;
    left: 50%;
    padding: 12px 48px;
    box-sizing: border-box;
    border-radius: 30px;
    background: linear-gradient(55.22deg, #1c1c1c 36.26%, #08463b 93.28%);
    border: 1px solid $signatureColor;
    width: 85%;
    max-width: $maxWidth;
    height: 70%;
    max-height: 1080px;
    transform: translate(-50%, -50%);
    @media (orientation: landscape) {
        @include dflex(space-between, center);
    }
    @media (orientation: portrait) {
    }
}

.close-btn {
    cursor: pointer;
    position: absolute;
    right: 48px;
    top: 24px;
    height: 48px;
    width: 48px;
    &::after {
        display: block;
        content: "";
        height: 48px;
        width: 48px;
        background-image: url("./../../../../../assets/icons/close_btn.webp");
        transition: all 200ms ease-in;
    }
    @media (pointer: fine) {
        &:hover {
            &::after {
                background-image: url("./../../../../../assets/icons/close_btn_hovered.webp");
            }
        }
    }
}

.project-controls {
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    right: 5%;
    @include dflex($gap: 48px);
    > div {
        @include dflex();
        & * {
            transition: all 125ms ease-in;
            color: $signatureColor;
            text-align: center;
            user-select: none;
        }
        .arrow-prev {
            rotate: 180deg;
        }
        @media (pointer: fine) {
            &:hover {
                & * {
                    color: white;
                }
                .arrow-prev,
                .arrow-next {
                    transform: translateX(4px);
                    scale: 1.1;
                }
            }
        }
    }
}

.project {
    max-width: 50%;
    @include dflex(flex-start, flex-start, column, 40px);
    &__head {
        @include dflex(center, flex-start, column);
        .project__id {
            font-family: "Karla", Arial, Helvetica, sans-serif;
            font-weight: 700;
            color: $signatureColor;
            font-size: clamp(4rem, 10dvw, 8rem);
            margin-bottom: -12px;
        }
        .project__name {
            font-family: "Fira-Code", Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: clamp(2rem, 10dvw, 4rem);
        }
    }

    &__body {
        @include dflex(flex-start, flex-start, column, 20px);
        .subheadline {
            font-family: "Fira Code", Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: clamp(1rem, 10dvw, 1.5rem);
            color: $signatureColor;
        }
        > p {
            font-family: "Karla", Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: clamp(1rem, 3dvw, 1.125rem);
        }

        .skills-wrapper {
            @include dflex(center, center, row, 8px);
            flex-wrap: wrap;

            .single-skill {
                @include dflex($gap: 8px);
            }
        }
    }

    &__footer {
        @include dflex(flex-start, center, row, 12px);
        //width: 200% + center center when overflow?
    }

    &__image {
        max-width: 40%;
    }
}
