$signatureColor: #3dcfb6;
$heroGradient: linear-gradient(55.22deg, #1c1c1c 36.26%, #08463b 93.28%);

$signatureGradient: radial-gradient(ellipse at 1.22% 52.45%, #08463b 0%, #1c1c1c 100%);

$headerHeight: 50px;
$footerHeight: 126px;
