$signatureColor: #3DCFB6;
$dimmedSignatureColor: #3DCFB680;
$backgroundDark: #1C1C1C;
$primaryGreen: #6AD7BF;
$heroGradient: linear-gradient(55.22deg, $backgroundDark 36.26%, #08463b 93.28%);
$signatureGradient: radial-gradient(circle at 1.22% 52.45%, #08463b 0%, $backgroundDark 30%);


$headerHeight: 50px;
$footerHeight: 126px;
