<div id="projects" class="anchor"></div>
<section id="projects" class="projects">
    <article class="section__header">
        <div class="titles">
            <h2 class="section__subheadline">{{'portfolio.subheadline' | translate }}</h2>
            <h1 class="section__main-title">{{'portfolio.title' | translate }}</h1>
        </div>
        <p class="expose">{{'portfolio.expose' | translate}}</p>
    </article>

    @for (project of projects; track $index) {
    <div class="item">
        <div class="item__general-information">
            <div class="project-name-wrapper">
                <h3 class="project-name">{{project.name}}</h3>
                <div class="technologies technologies--mobile">
                    @for (technology of project.technologies; let last=$last; track $index) {
                    <span>{{ technology }}</span>
                    @if (!last) {<span class="seperator">|</span>}
                    }
                </div>
            </div>
            <span>{{ returnDescription(project, 'short') | translate}}</span>
        </div>
        <div class="item__technical-information">
            <div class="technologies technologies--desktop">
                @for (technology of project.technologies; let last=$last; track $index) {
                <span>{{ technology }}</span>
                @if (!last) {<span class="seperator">|</span>}
                }
            </div>
            <div class="item__links">
                <a [href]="project.github" target="_blank" rel="noopener noreferrer">
                    <app-buttons text="GitHub" type="link" bg="dark"></app-buttons>
                </a>
                <a [href]="project.liveserver" target="_blank" rel="noopener noreferrer">
                    <app-buttons text="Live Test" type="link" bg="dark"></app-buttons>
                </a>
            </div>
        </div>
    </div>
    }
</section>