@use "./../../shared/scss/abstracts/" as *;

@mixin itemText() {
    @include karla(400, 1.125rem);
}

.detail-wrapper {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    &.project-fullscreen {
        display: unset;
        background-color: rgba($color: $backgroundDark, $alpha: 0.2);
        backdrop-filter: blur(10px);
    }
}

.section__header {
    margin-bottom: 40px;
    .titles {
        margin-bottom: 40px;
        @include dflex(center, flex-start, column, 20px);
        .section__subheadline {
            margin-bottom: 0;
        }
    }
    .expose {
        @include itemText();
    }
}

.items-wrapper {
    width: 100%;
    @include dflex(center, flex-start, column);
    @media (min-width: $desktopResolution) {
        @media (pointer: coarse) {
            gap: 12px
        }
    }
}

.projects {
    @include widthLimiter();
    @include dflex(stretch, flex-start, column, 0);
    @include applyLimitMargin();
}

app-project-preview {
    width: 100%;
}