@use "./../../shared/scss/abstracts/" as *;

$itemBorder: 2px solid $signatureColor;

@mixin itemText() {
    @include karla(400, 1.125rem);
}

.expose {
    @include itemText();
}

.projects {
    @include widthLimiter();
    @include applyLimitMargin();
    & .item {
        @include dflex(space-between);
        border-top: $itemBorder;
        padding: 40px 32px;
        transition: all 125ms ease-in;

        & .project-name {
            position: relative;
            &::after {
                position: absolute;
                top: 0%;
                left: 100%;
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                opacity: 0;
                background-image: url('./../../../assets/icons/arrow_outward_white.svg');
                background-repeat: no-repeat;
                transform: translate(50%, 50%);
            }
        }

        @media (pointer: fine) {
            &:hover {
                background: #3dcfb64d;
                cursor: pointer;
                & .project-name::after {
                    opacity: 1;
                }
            }
        }
        &:last-child {
            border-bottom: $itemBorder;
        }

        &__general-information {
            @include dflex(center, flex-start, column);
            & .project-name {
                font-family: "Fira Code";
                font-weight: 700;
                color: #ffffff;
                font-size: 1.5rem;
            }
            & * {
                @include itemText();
            }
        }

        &__technical-information {
            & * {
                @include itemText();
            }
            .item__links {
                @include dflex(center, flex-start);
            }

            .technologies {
                @include dflex($gap: 4px);
            }
        }
    }
}

.seperator {
    color: $signatureColor !important;
}
