@use "./../../shared/scss/abstracts/" as *;
@use './hero-mixins.scss' as *;

.link-bar {
    @include unsetWidthAndHeight();
    @include dflex(flex-end, center, column, 24px);
    position: absolute;
    right: clamp(0px, 7dvw, 96px);
    bottom: 0;
    top: 0;
    > .line {
        width: 1px;
        height: 20%;
        background-color: #ffffff;
    }
    > .external-links {
        @include dflex(center, center, column, 4px);
        @media (min-width: $desktopResolution) {
            @include dflex(center, center, column, 24px);
        }
        > .mail {
            width: 0;
            cursor: pointer;
            > a {
                display: none;
            }

            @media (max-width: $mobileResolution) {
                .mail-icon {
                    position: relative;
                    display: unset;
                    @include afterBullet(-50%, -50%);
                }
            }

            img {
                display: inline;
                transform: translate(-50%);
            }

            @media (min-width: $desktopResolution) {
                > a {
                    display: block;
                    transform: rotate(270deg);
                    text-decoration: none;
                    font-family: "Karla", Arial, Helvetica, sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    transition: all 100ms ease-in;
                    &:hover {
                        color: $signatureColor;
                    }
                    > img {
                        display: none;
                    }
                }
            }
        }
        > .social-links {
            @include dflex(center, center, column, 12px);
            > a {
                position: relative;
                @include afterBullet(150%, 150%);
            }
        }
    }
}
