<div class="hero-wrapper">
    <div class="left">
        <div class="pill">
            <img src="./assets/icons/arrow_down.svg" alt="" draggable="false">
        </div>
        <div class="line"></div>
    </div>
    <section>
        <div class="spacer"></div>
        <div class="main">
            <hgroup>
                <span>Frontend Developer</span>
                <h1>Andre Veltens</h1>
            </hgroup>
            <div class="button-wrapper">
                <a href="#projects">
                    <app-buttons text="{{'hero.button.check-work' | translate}}"></app-buttons>
                </a>
                <a href="#contact">
                    <app-buttons text="{{'hero.button.contact' | translate}}"></app-buttons>
                </a>
            </div>
        </div>
        <app-marquee></app-marquee>
    </section>
    <div class="link-bar">
        <section class="external-links">
            <div class="mail">
                <a href="mailto:andre@veltens.info">andre&#64;veltens.info</a>
                <a href="mailto:andre@veltens.info" class="mail-icon"><img src="./assets/icons/mail.webp" alt="" draggable="false"></a>
            </div>
            <section class="social-links">
                <a href="https://github.com/swiftAndHandy/" target="_blank" rel="noopener noreferrer"><img src="./assets/icons/github.svg" alt="GitHub" draggable="false"></a>
                <a href="https://linkedin.com/in/veltens" target="_blank" rel="noopener noreferrer"><img src="./assets/icons/linkedin.svg" alt="LinkedIn" draggable="false"></a>
            </section>
        </section>
        <div class="line"></div>
    </div>
</div>