@use "./../../shared/scss/abstracts/" as *;

@mixin afterBullet($translateX, $translateY) {
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        content: "";
        width: 8px;
        height: 8px;
        background-image: url("./../../../assets/icons/dot.svg");
        transform: translate($translateX, $translateY);
        opacity: 0;
        transition: all 100ms ease-in;
    }
    @include hoverBullet();
}

@mixin hoverBullet() {
    @media (pointer: fine) {
        &:hover {
            > img {
                filter: brightness(0) invert(1);
            }
            &::after {
                opacity: 1;
            }
        }
    }

    &:active {
        &::after {
            opacity: 0.5;
        }
    }
}

.hero-wrapper {
    position: relative;
    @include widthLimiter();
    @include dflex(center, center, column);
    overflow: hidden;
    height: 100%;
    > section {
        @include dflex(space-between, center, column, $gap: 40px);
        width: 100%;
        height: 100%;
    }
}

app-marquee {
    transform: translateY(-50%);
    width: 110%;
    @media (min-width: $maxWidth) {
        width: 100%;
    }
}

.left {
    @include unsetWidthAndHeight();
    @include dflex(flex-end, center, column, 24px);
    position: absolute;
    left: clamp(0px, 7dvw, 96px);
    bottom: 0;
    top: 0;
    > .line {
        width: 1px;
        height: 26%;
        background-color: $signatureColor;
    }
}

.right {
    @include unsetWidthAndHeight();
    @include dflex(flex-end, center, column, 24px);
    position: absolute;
    right: clamp(0px, 7dvw, 96px);
    bottom: 0;
    top: 0;
    > .line {
        width: 1px;
        height: 20%;
        background-color: #ffffff;
    }
    > .external-links {
        @include dflex(center, center, column, 4px);
        @media (min-width: $desktopResolution) {
            @include dflex(center, center, column, 24px);
        }
        > .mail {
            width: 0;
            cursor: pointer;
            > a {
                display: none;
            }

            @media (max-width: $mobileResolution) {
                .mail-icon {
                    position: relative;
                    display: unset;
                    @include afterBullet(-50%, -50%);
                }
            }

            img {
                display: inline;
                transform: translate(-50%);
            }

            @media (min-width: $desktopResolution) {
                > a {
                    display: block;
                    transform: rotate(270deg);
                    text-decoration: none;
                    font-family: "Karla";
                    font-size: 18px;
                    font-weight: 400;
                    transition: all 100ms ease-in;
                    &:hover {
                        color: $signatureColor;
                    }
                    > img {
                        display: none;
                    }
                }
            }
        }
        > .social-links {
            @include dflex(center, center, column, 12px);
            > a {
                position: relative;
                @include afterBullet(150%, 150%);
            }
        }
    }
}

.pill {
    @include dflex();
    width: 30px;
    height: 48px;
    border-radius: 32px;
    border: 1px solid $signatureColor;
    > img {
        animation: pill-movement 1s ease-in 10ms infinite;
    }

    @keyframes pill-movement {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(75%);
        }
        100% {
            transform: translateY(0);
        }
    }
}

main {
    > hgroup {
        @include dflex($direction: column);
        white-space: nowrap;

        > span {
            font-family: "Fira Code";
            font-size: clamp(1.25rem, 6dvw, 2.5rem);
        }
        > h1 {
            font-family: "Karla";
            font-weight: 700;
            font-size: clamp(2.5rem, 12dvw, 8rem);
        }
    }
    .button-wrapper {
        @include dflex($direction: column, $gap: min(4dvw, 48px));
        @media (min-width: $desktopResolution) {
            flex-direction: row;
        }
    }
}
