<div class="hero-wrapper">
    <div class="left">
        <div class="pill">
            <img src="./assets/icons/arrow_down.svg" alt="" draggable="false">
        </div>
        <div class="line"></div>
    </div>
    <section>
        <hgroup>
            <span>Frontend Developer</span>
            <h1>Andre Veltens</h1>
        </hgroup>
        <div class="button-wrapper">
            <app-buttons text="{{'hero.button.check-work' | translate}}"></app-buttons>
            <app-buttons text="{{'hero.button.contact' | translate}}"></app-buttons>
        </div>
    </section>
    <div class="right"></div>
</div>