@use "./../../shared/scss/abstracts/" as *;

@mixin afterBullet($translateX, $translateY) {
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        content: "";
        width: 8px;
        height: 8px;
        background-image: url("./../../../assets/icons/dot.svg");
        transform: translate($translateX, $translateY);
        opacity: 0;
        transition: all 100ms ease-in;
    }
    @include hoverBullet();
}

@mixin hoverBullet() {
    @media (pointer: fine) {
        &:hover {
            > img {
                filter: brightness(0) invert(1);
            }
            &::after {
                opacity: 1;
            }
        }
    }

    &:active {
        &::after {
            opacity: 0.5;
        }
    }
}

.hero-wrapper {
    position: relative;
    @include widthLimiter();
    @include dflex(center, center, column);
    overflow: hidden;
    height: 100%;
    > section {
        @include dflex(space-between, center, column, $gap: 40px);
        width: 100%;
        height: 100%;
    }
}

app-marquee {
    transform: translateY(-50%);
    width: 110%;
    @media (min-width: $maxWidth) {
        width: 100%;
    }
}

.left {
    @include unsetWidthAndHeight();
    @include dflex(flex-end, center, column, 24px);
    position: absolute;
    left: clamp(0px, 7dvw, 96px);
    bottom: 0;
    top: 0;
    > .line {
        width: 1px;
        height: 26%;
        background-color: $signatureColor;
    }
}

.pill {
    @include dflex();
    width: 30px;
    height: 48px;
    border-radius: 32px;
    border: 1px solid $signatureColor;
    > img {
        animation: pill-movement 1s ease-in 10ms infinite;
    }

    @keyframes pill-movement {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(75%);
        }
        100% {
            transform: translateY(0);
        }
    }
}

.main {
    > hgroup {
        @include dflex($direction: column);
        white-space: nowrap;
        margin-bottom: 24px;

        > span {
            font-family: "Fira Code", Arial, Helvetica, sans-serif;
            font-size: clamp(1.25rem, 6dvw, 2.5rem);
        }
        > h1 {
            @include karla(700, clamp(2.5rem, 12dvw, 8rem));
        }
    }
    .button-wrapper {
        @include dflex($direction: column, $gap: min(2dvh, 24px));
        @media (min-width: $desktopResolution) {
            flex-direction: row;
            gap: min(4dvw, 48px)
        }
    }
}
