<div id="about-me" class="anchor"></div>
<section class="about-me-wrapper">
    <div class="portrait-wrapper">
        <img class="portrait" src="./assets/img/proxy-photo.webp" alt="{{'about-me.portrait-alt' | translate}}" draggable="false">
        <div class="portrait-bg"></div>
        <!-- <img class="portrait-bg" src="./assets/img/image-bg.svg" alt="{{'about-me.portrait-alt' | translate}}" draggable="false"> -->
    </div>
    <div class="details-wrapper"> 
        <h2 class="section__subheadline">{{'about-me.subheadline' | translate }}</h2>
        <div class="box--regular">
            <h1 class="section__main-title">{{'about-me.title' | translate}}</h1>
            <article>
                <p class="subsumption">{{'about-me.subsumption' | translate}}</p>
                <div class="subsumption__bulletpoint">
                    <img src="./assets/icons/map-marker.webp" alt="" draggable="false">
                    <p>{{'about-me.bulletpoints.location' | translate}}</p>
                </div>
                <div class="subsumption__bulletpoint">
                    <img src="./assets/icons/mind.webp" alt="" draggable="false">
                    <p>{{'about-me.bulletpoints.mind' | translate}}</p>
                </div>
                <div class="subsumption__bulletpoint">
                    <img src="./assets/icons/checkmark.webp" alt="" draggable="false">
                    <p>{{'about-me.bulletpoints.goals' | translate}}</p>
                </div>
            </article>
        </div>
    </div>
</section>