@use "./../../shared/scss/abstracts/" as *;
@use "./../../shared/scss/boxes" as *;

.box--regular {
    @include boxDesign();
}

.about-me-wrapper {
    @include dflex();
    @media (max-width: $mobileResolution) or (orientation: portrait) {
        flex-direction: column;
    }
    @include widthLimiter();
    @include applyLimitMargin();
    gap: 40px;
    @media (orientation: landscape) and (min-width: $desktopResolution) {
        margin: 0 min(10dvh, 96px);
        gap: clamp(40px, 4dvw, 96px);
    }
}

.portrait-wrapper {
    position: relative;
    max-width: 50%;
    align-self: flex-start;

    @media (max-width: $mobileResolution) or (orientation: portrait) {
        min-width: 100%;
    }
    > img {
        width: 100%;
        border-radius: 30px;
    }
    > .portrait {
        position: relative;
        z-index: 1;
    }

    > .portrait-bg {
        position: absolute;
        left: 0;
        bottom: 10px;
        right: 0;
        top: 0;
        border-radius: 30px;
        background-image: url("./../../../assets/img/image-bg.svg");
        background-repeat: no-repeat;
        @media (orientation: portrait) {
            background-repeat: repeat;
        }
        transition: all 125ms ease-in;
        @media (pointer: coarse) and (min-width: $desktopResolution) {
            transform: translate(clamp(-23px, 2.5dvh, -46px), clamp(12px, 2.5dvh, 30px));
        }
        @media (pointer: coarse) and (max-width: $mobileResolution) {
            transform: translate(clamp(-12px, 2.5dvh, -23px), clamp(12px, 2.5dvh, 24px));
        }
    }

    &:hover {
        > .portrait-bg {
            @media (min-width: $desktopResolution) {
                transform: translate(clamp(-23px, 2.5dvh, -46px), clamp(12px, 2.5dvh, 30px));
            }
            @media (max-width: $mobileResolution) {
                transform: translate(clamp(-12px, 2.5dvh, -23px), clamp(12px, 2.5dvh, 24px));
            }
        }
    }
}
