@use './../variables' as *;

@mixin dflex($jc: center, $ai: center, $direction: row, $gap: 0) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
    flex-direction: $direction;
}

@mixin widthLimiter() {
    width: min(100%, $maxWidth);
}

@mixin signatureGradient() {
    background: $signatureGradient;
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
}

@mixin unsetWidthAndHeight() {
    width: unset;
    height: unset;
}