@use "./../variables" as *;

@mixin dflex($jc: center, $ai: center, $direction: row, $gap: 0) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
    flex-direction: $direction;
}

@mixin widthLimiter($requiredWidth: 100%, $maxWidth: $maxWidth) {
    width: min($requiredWidth, $maxWidth);
}

@mixin applyLimitMargin() {
    margin: 0 min(10dvw, 96px);
}

@mixin signatureGradient() {
    background: $signatureGradient;
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
}

@mixin unsetWidthAndHeight() {
    width: unset;
    height: unset;
}

@mixin karla($weight: 400, $size: 1rem, $color: #ffffff, $align: left) {
    font-family: "Karla", Arial, Helvetica, sans-serif;
    font-weight: $weight;
    color: $color;
    font-size: $size;
    text-align: $align;
}

@mixin afterBasics($width, $height, $position: absolute, $content: '') {
        display: block;
        content: $content;
        position: $position;
        width: $width;
        height: $height;
        transition: all 125ms ease-in;
}
