@use "./../../../shared/scss/abstracts/" as *;

* {
    @include karla(400, clamp(16px, 4dvw, 20px));
}

@mixin referenceLayout() {
    @include dflex(space-between, center, column);
    position: relative;
    border: 1px solid $signatureColor;
    background: $boxGradient; //#3DCFB64D;
    border-radius: 30px;
    padding: 48px 40px;
    width: clamp(150px, 50dvw, 400px);
}

.quotes {
    top: 0;
    position: absolute;
    transform: translate(0, -50%);
    left: 0;
    z-index: 1;
    pointer-events: none;
    transition: all 250ms ease-in;
    opacity: 0;
    &.active {
        opacity: 1;
    }
}

.reference {
    @include referenceLayout();
    row-gap: 24px;
    margin: 0 12px;

    &__footer {
        align-self: flex-end;
    }
}

.giver {
    * {
        @include karla(400, clamp(1rem, 4dvw, 1.25rem));
    }
    @include dflex(center, flex-end, $gap: 8px);
    @media (max-width: $desktopResolution) {
        flex-direction: column;
        gap: 0;
        
    }
    &__top {
        @include dflex(flex-end, $gap: 8px);
    }
}

.placeholder {
    visibility: hidden;
    @include referenceLayout();
}
