@use "./../../shared/scss/abstracts" as *;
@use "./../../shared/scss/boxes" as *;

.box--regular {
    @include boxDesign();
}

.skills {
    @include widthLimiter();
    @include dflex(flex-start, flex-start, $direction: column);
    @include applyLimitMargin();
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(clamp(65px, 8dvw, 120px), 1fr));
        gap: 40px;
        width: 100%;
        align-items: center;
        justify-items: center;
    }

    &__article {
        @include dflex(flex-start, flex-start, column, 32px);
        & * {
            @include karla(400, 1.125rem, #ffffff);
        }
        & .subheadline {
            & * {
                font-family: 'Fira Code';
                font-size: 1.5rem;
            }
            &--colorized {
                color: $signatureColor !important;
            }

        }
    }
}

.left {
    @media (min-width: $desktopResolution) {
        max-width:50%;
    }
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 32px;

    .skillset-links {
        display: flex;
        justify-content: center;
        gap: 16px;
        font-size: clamp(2vw, 24px, 3vw);

        .skillset-toggle {
            cursor: pointer;
            &.active {
                color: $signatureColor;
                cursor: default;
            }
        }
    }

    @media (max-width: $mobileResolution) {
        width: 100%;
    }
}

.main {
    @include dflex(space-between, flex-start);
    gap: min(4dvw, 96px);
    @media (max-width: $mobileResolution) {
        flex-direction: column;
    }
}
