<div id="skills" class="anchor"></div>
<section class="skills">
    <h2 class="section__subheadline">{{'skills.subheadline' | translate }}</h2>
    <main>
        <div class="left">
            <div class="box--regular">
                <h1 class="section__main-title">{{'skills.title' | translate}}</h1>
                <article class="skills__article">
                    <p>{{'skills.intro' | translate}}</p>
                    <h2 class="subheadline"><span>{{ 'skills.sub-subheadline.part.one' | translate }}</span><span class="subheadline--colorized">{{ 'skills.sub-subheadline.part.two' | translate }}</span></h2>
                    <p>{{ 'skills.sub-subheadline.body' | translate }}</p>
                    <a href="#contact"><app-buttons type="regular" text="{{'skills.button' | translate}}"></app-buttons></a>
                </article>
            </div>
        </div>
        <div class="skills__list">
            @for (skill of frontendSkills; track skill) {
            <app-single-skill [name]="skill.name" category="frontend" [container]="checkContainer(skill)"></app-single-skill>
            }
        </div>
    </main>
</section>