@use "./../shared/scss/abstracts/" as *;

p, li {
    margin: clamp(2px, 2dvw, 1rem);
    font-family: 'Karla', Arial, Helvetica, sans-serif;
}

.wrapper {
    background: $boxGradient;
    min-height: 100vh;
    @include dflex(center, space-between);
    > div {
        @include widthLimiter();
    }
}

.inner {
    @include dflex(space-between, flex-start, column);
}

.footer-wrapper {
    width: 100%;
    margin-bottom: 64px;
}

article {
    margin: 150px 12px 0 clamp(0px, 2dvw, 48px);
    @include dflex(flex-start, flex-start, column);
    height: 100%;
    box-sizing: border-box;
}
