@use './../shared/scss/abstracts/' as *;

.wrapper {
    background: $boxGradient;
    min-height: 100vh;
    @include dflex(center, space-between);
    >div {
        @include widthLimiter();
    }
}

.inner {
    @include dflex(space-between, flex-start, column);
}

.footer-wrapper {
    width: 100%;
}

article {
    margin: 200px min(10dvw, 96px) 0;
}

> app-footer {
    @include dflex(center, flex-start);
    background: $backgroundDark;
    margin-bottom: 144px;
}