@use "./../shared/scss/abstracts/" as *;

.page-wrapper {
    @include dflex(center, flex-start);
    min-height: 100dvh;
}

main {
    @include dflex(space-between, center, column);
    width: 100%;
    background: $backgroundDark;
    min-height: 100dvh;
    > app-hero {
        @include dflex(center, flex-start);
        background: $heroGradient;
        width: 100%;
        height: 100dvh;
        margin-bottom: 144px;
    }
    > app-about-me {
        @include dflex(center, flex-start);
        width: 100%;
        @media (max-width: $mobileResolution) {
            margin-bottom: 70px;
        }
    }
    > app-skills {
        @include dflex(center, flex-start);
        background-image: url('./../../assets/img/skills-bg.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        margin-bottom: 144px;
    }
    > app-projects {
        @include dflex(center, flex-start);
        width: 100%;
        margin-bottom: 144px;
    }
    > app-references {
        @include dflex(center, flex-start);
        width: 100%;
        margin-bottom: 144px;
    }
    > app-contact {
        @include dflex(center, flex-start);
        width: 100%;
        margin-bottom: 144px;
    }
    > app-footer {
        @include dflex(center, flex-start);
        @include widthLimiter();
        background: $backgroundDark;
        margin-bottom: 144px;
    }
}

