@use "./../shared/scss/abstracts/" as *;

.page-wrapper {
    @include dflex(center, flex-start);
    min-height: 100dvh;
}

main {
    @include dflex(space-between, center, column);
    width: 100%;
    background: $backgroundDark;
    min-height: 100dvh;
    > app-hero {
        @include dflex(center, flex-start);
        background: $heroGradient;
        width: 100%;
        height: 100dvh;
    }
    > app-about-me {
        @include dflex(center, flex-start);
        width: 100%;
    }
    > app-skills {
        @include dflex(center, flex-start);
        background: $signatureGradient;
        width: 100%;
    }
    > app-footer {
        @include dflex(center, flex-start);
        background: $backgroundDark;
        width: 100%;
    }
}

