<footer>
    <div class="wrapper">
        <div class="left">
            <app-logo size="large" location="footer"></app-logo>
            <div class="personal-info">
                <span class="job">Web Developer</span>
                <span class="location">Paderborn</span>
            </div>
        </div>
        <span class="copyright copyright__desktop">© Andre Veltens 2024</span>
        <div class="right">
            <a href="" target="_blank" rel="noopener noreferrer">Github</a>
            <a href="" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a href="mailto:andre@veltens.info">E-Mail</a>
            <a href="imprint">Imprint</a>
        </div>
    </div>
    <span class="copyright copyright__mobile">© Andre Veltens 2024</span>
</footer>