<footer>
    <div class="wrapper">
        <div class="left">
            <app-logo aria-hidden="true" size="large" location="footer"></app-logo>
            <div aria-hidden="true" class="personal-info">
                <span class="job">Web Developer</span>
                <span class="location">Paderborn</span>
            </div>
        </div>
        <span class="copyright copyright__desktop">© Andre Veltens 2024</span>
        <div class="right">
            <a href="https://github.com/swiftAndHandy/" target="_blank" rel="noopener noreferrer">Github</a>
            <a href="https://linkedin.com/in/veltens" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a href="mailto:andre@veltens.info">E-Mail</a>
            <a href="legal-notice">{{ 'footer.legal-notice' | translate }}</a>
            <a href="privacy-policy">{{ 'footer.privacy-policy' | translate }}</a>
        </div>
    </div>
    <span class="copyright copyright__mobile">© Andre Veltens 2024</span>
</footer>