<div class="wrapper">
    <div class="inner">
        <article>
              <h1>Legal Notice</h1>
              <h3>Verantwortlich für dieses Angebot:</h3>
              <p>Andre Veltens<br aria-hidden="true">
                Am Rippinger Weg 23<br aria-hidden="true">
                33098 Paderborn</p>
                <h2>Kontakt</h2>
                <p>Telefon: +49 176 7236 7281<br aria-hidden="true">
                E-Mail: andre&#64;veltens.info</p>
        </article>

        <div class="footer-wrapper">
            <app-footer></app-footer>
        </div>
    </div>
</div>