@use "./../../shared/scss/abstracts/" as *;

@mixin afterArrow() {
    .arrow {
        &::after {
            @include afterBasics(40px, 40px);
            background-image: url("./../../../assets/icons/arrow_right_green.svg");
            background-repeat: no-repeat;
            transform: translate(10%, 10%);
            opacity: 0;
        }
        &:has(.arrow--prev) {
            &::after {
                transform: rotate(180deg) translate(10%, 10%);
            }
        }
    }
    @media (pointer: fine) {
        &:hover {
            .arrow {
                transform: translateX(10%);
                &:has(.arrow--prev) {
                    transform: translateX(-10%);
                }
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}

.reference-section {
    @include widthLimiter();
    @include dflex(space-between, center, column, 48px);
    @include applyLimitMargin();
}

.headline {
    font-family: "Fira Code";
    font-weight: 700;
    font-size: clamp(1.5rem, 6dvw, 2rem);
    color: $signatureColor;
    text-align: center
}

.controls {
    @include dflex();
    .arrow-wrapper {
        width: 40px;
        @include afterArrow();
        .arrow {
            cursor: pointer;
            position: relative;
            @include dflex();
            transition: all 125ms ease-in;
            &--prev {
                rotate: 180deg;
            }
            &--next {
            }
        }
    }
}

.bullet-point {
}
