<div id="references" class="anchor"></div>
<section class="reference-section">
    <h1 class="headline">{{ 'references.title' | translate }}</h1>
    <div class="references">
        @for (giver of referenceGivers; track $index) {
            <app-reference-box [referenceGiver]="giver"></app-reference-box>
        }
    </div>
    <div class="controls">
        <div class="arrow-wrapper">
            <div class="arrow">
                <img class="arrow--prev left" src="./assets/icons/arrow_right_white.svg" alt="previous" draggable="false">
            </div>
        </div>
        <img src="./assets/icons/dot.svg" [alt]="returnActiveBullet()" draggable="false" class="bullet-point" [ngClass]="{'bla': false}">
        <div class="arrow-wrapper">
            <div class="arrow">
                <img class="arrow--next" src="./assets/icons/arrow_right_white.svg" alt="previous" draggable="false">
            </div>
        </div>
    </div>
</section>