@use "./../../shared/scss/abstracts/" as *;

@mixin afterArrow() {
    .arrow {
        &::after {
            @include afterBasics(40px, 40px);
            background-image: url("./../../../assets/icons/arrow_right_green.svg");
            background-repeat: no-repeat;
            transform: translate(10%, 10%);
            opacity: 0;
        }
        &:has(.arrow--prev) {
            &::after {
                transform: rotate(180deg) translate(10%, 10%);
            }
        }
    }
    @media (pointer: fine) {
        &:hover {
            .arrow {
                transform: translateX(10%);
                &:has(.arrow--prev) {
                    transform: translateX(-10%);
                }
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}

.reference-section {
    position: relative;
    @include widthLimiter();
    @include dflex(space-between, center, column, 48px);
    @include applyLimitMargin();
    overflow: hidden;
}

.headline {
    font-family: "Fira Code";
    font-weight: 700;
    font-size: clamp(1.5rem, 6dvw, 2rem);
    color: $signatureColor;
    text-align: center;
}

.references {
    position: relative;
    @include dflex();
    transform: translate(0%);
}

.controls {
    @include dflex($gap: 20px);
    .arrow-wrapper {
        width: 40px;
        @include afterArrow();
        .arrow {
            cursor: pointer;
            user-select: none;
            position: relative;
            @include dflex();
            transition: all 125ms ease-in;
            &--prev {
                rotate: 180deg;
            }
        }
    }
}

.bullet-point {
    user-select: none;
    filter: brightness(0) invert(1);
    &.active {
        filter: unset;
    }
}

.blur {
    position: absolute;
    top: -100px;
    bottom: -100px;
    border-radius: 30px;
    pointer-events: none;
    z-index: 1;
    pointer-events: none;

    &--left {
        right: 67.67%;
        left: -10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: linear-gradient(to left, transparent, $backgroundDark 5dvw);
    }
    &--right {
        right: -10px;
        left: 67.67%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background: linear-gradient(to right, transparent, $backgroundDark 5dvw);
    }
}

app-reference-box {
    transition: all 500ms ease-in-out;
}
