<div id="references" class="anchor"></div>
<section class="reference-section">
    <h1 class="headline">{{ 'references.title' | translate }}</h1>
    <div class="references">
        <div class="blur blur--left"></div>
        @for (giver of refService.referenceGivers; let id = $index; track id;) {
        <app-reference-box [count]="id" [ngStyle]="updateTranslateX(id)"></app-reference-box>
        }
        <div class="blur blur--right"></div>
    </div>
    <div class="controls" aria-hidden="true">
        <div aria-hidden="true" class="arrow-wrapper" (click)="previousButton()">
            <div class="arrow">
                <img class="arrow--prev left" src="./assets/icons/arrow_right_white.svg" alt="previous" draggable="false">
            </div>
        </div>
        @for (item of refService.referenceGivers; let i = $index; track i;) {
        <img src="./assets/icons/dot.svg" draggable="false" class="bullet-point" [ngClass]="{'active': i == refService.currentRef}">
        }
        <div aria-hidden="true" class="arrow-wrapper" (click)="nextButton()">
            <div class="arrow">
                <img class="arrow--next" src="./assets/icons/arrow_right_white.svg" alt="previous" draggable="false">
            </div>
        </div>
    </div>
</section>