/* You can add global styles to this file, and also import other style files */
@use "./app/shared/scss/fonts";
@use "./app/shared/scss/abstracts/" as *;

html {
    background: $backgroundDark;
}

* {
    margin: 0;
    font-family: "Fira Code";
    color: #ffffff;
    scroll-behavior: smooth;
}

.d-none {
    display: none;
}

a {
    text-decoration: none;
}

.section__subheadline {
    font-family: "Karla";
    font-weight: 500;
    font-size: clamp(1rem, 8dvw, 1.5rem);
    color: $signatureColor;
    margin-bottom: 20px;
}

.section__main-title {
    font-family: "Fira Code";
    font-size: clamp(1.2rem, 6dvw, 4rem);
    font-weight: 700;
    color: $signatureColor;
    white-space: nowrap;
}