/* You can add global styles to this file, and also import other style files */
@use "./app/shared/scss/fonts";
@use './app/shared/scss/variables' as *;

html {
  background: $backgroundDark;
}

* {
  margin: 0;
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  color: #ffffff;
  scroll-behavior: smooth;

  --sb-track-color: #1c1c1c;
  --sb-thumb-color: #3dcfb6;
  --sb-size: 8px;

  &::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 8px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 8px;
    border: 1px solid #4cb5a3;
  }
}

.d-none {
  display: none;
}

a {
  text-decoration: none;
}

.anchor {
  position: relative;
  top: -150px;
  visibility: hidden;
}

.section__subheadline {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: clamp(1rem, 8dvw, 1.5rem);
  color: $signatureColor;
  margin-bottom: 20px;
}

.section__main-title {
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-size: clamp(1.2rem, 6dvw, 4rem);
  font-weight: 700;
  color: $signatureColor;
  white-space: nowrap;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
