@use "./../../../shared/scss/abstracts/" as *;

.single-skill {
    position: relative;
    cursor: pointer;
    @include dflex($direction: column, $gap: 8px);
    width: 104px;
    height: 116px;

    & * {
        white-space: break-spaces;
        text-align: center;
        transition: all 100ms ease-in;
    }

    & > img:not(.popup) {
        height: 64px;
        width: 64px;
    }

    & .popup {
        pointer-events: none;
        position: absolute;
        transform: translate(22%, -70%);
        max-width: 40dvw;
        opacity: 0;
        transition: all 100ms ease-in;
    }

    &:hover {
        > img:not(.popup) {
            scale: (1.1);
        }

        & .container {
            color: $signatureColor;
        }

        & .popup {
            opacity: 1;
        }
    }
}
