@use "./../../../shared/scss/abstracts/" as *;

$marqueeGap: 96px;

@mixin marqueItem($marginRight: $marqueeGap) {
    @include dflex($gap: $marqueeGap);
    &::after {
        margin-right: $marginRight;
        content: "";
        width: 8px;
        height: 8px;
        background-image: url("./../../../../assets/icons/dot.svg");
    }
    animation: marquee-scrolling 40s -20s infinite linear;
}

.marquee {
    overflow: hidden;
    font-family: "Karla";
    background-color: rgba($color: #ffffff, $alpha: 0.12);
    padding: 12px 32px;
    rotate: -3deg;
    margin-bottom: 32px;
    backdrop-filter: blur(2px);
    height: 62px;
    @media (min-width: $maxWidth) {
        border-radius: 16px;
    }

    @include dflex();

    &-wrapper {
        @include dflex();
        @include widthLimiter($maxWidth);
        overflow: hidden;
    }

    & * {
        font-family: inherit;
        font-size: 2rem;
        color: $signatureColor;
        white-space: nowrap;
    }

    &__body {
        position: absolute;
        @include widthLimiter();
        overflow: hidden;
        @include dflex(flex-start, center, row);
        border: 1px $signatureColor;
        border-style: none dashed;
        > .marquee-item {
            @include marqueItem();
        }
        > .marquee-item.second-iteration {
            animation: marquee-scrolling 40s 0s infinite linear;
        }
    }
}

@keyframes marquee-scrolling {
    from {
        transform: translate($maxWidth, 0);
    }
    to {
        transform: translate(-$maxWidth, 0);
    }
}
